In [2]:
import pandas as pd
import sympy as sp
import numpy as np

In [3]:
financial_data = pd.read_excel("financials2016-8.xlsx")
financial_data

,Date,BAC,BCS,CS,GS,JPM,MS,RBS,UBS
0,2016-09-16,15.490000,8.580000,13.090000,166.000000,65.820000,31.590000,4.86,13.770000
1,2016-09-09,15.740000,9.150000,13.730000,168.570007,66.650002,31.590000,5.42,14.680000
2,2016-09-02,16.000000,9.310000,13.270000,169.179993,67.489998,31.889999,5.46,14.710000
3,2016-08-26,15.716853,8.660000,12.350000,165.323511,66.220001,31.160000,5.17,14.030000
4,2016-08-19,15.149494,8.440000,11.930000,165.582493,65.860001,30.549999,4.92,13.460000
5,2016-08-12,14.840930,8.470000,12.030000,162.614105,65.320000,29.170000,5.09,13.860000
6,2016-08-05,14.980281,8.039437,11.310000,161.458620,66.300003,29.010000,4.76,13.460000
7,2016-07-29,14.422875,8.188500,11.560000,158.191397,63.970001,28.730000,5.10,13.780000
8,2016-07-22,14.313385,7.969875,11.540000,159.785171,64.040001,28.722120,4.98,13.290000
9,2016-07-15,13.596720,7.950000,11.330000,161.010376,64.180000,27.818347,4.92,13.170000
10,2016-07-08,13.108990,7.274250,10.460000,149.794241,61.830002,26.189569,4.40,12.250000
11,2016-07-01,13.039315,7.542562,10.870000,147.672533,61.259998,25.742647,4.61,13.170000
12,2016-06-24,12.939778,8.834438,11.510000,141.307424,59.139620,24.352227,5.43,13.950000
13,2016-06-17,13.337924,9.559875,12.550000,145.072699,61.798919,25.136820,6.48,14.710000
14,2016-06-10,13.765933,9.500250,12.430000,149.306144,63.346870,25.365248,6.06,14.330000
15,2016-06-03,14.353200,10.444312,13.350000,155.063629,64.140690,26.358406,6.96,14.800000
16,2016-05-27,14.760997,10.841812,14.300000,158.908594,64.924589,27.341632,7.36,15.440000
17,2016-05-20,14.403877,10.096500,13.700000,153.279825,63.019418,26.586832,6.75,14.830000
18,2016-05-13,13.768995,9.331313,12.850000,154.103218,60.727264,25.712852,6.06,14.720000
19,2016-05-06,13.997155,9.351187,13.269652,157.585282,61.124172,26.070389,6.23,14.737169
20,2016-04-29,14.443557,9.987187,14.416529,162.803398,62.711815,26.874846,6.77,16.314802
21,2016-04-22,14.989157,9.848062,14.805140,165.422378,63.475867,27.360685,7.30,15.691306
22,2016-04-15,13.888035,9.400875,14.113223,157.257908,61.392086,25.444449,6.67,15.086704
23,2016-04-08,12.776992,8.417063,12.862084,149.083507,57.293991,23.459071,5.97,14.330952
24,2016-04-01,13.451554,8.576062,13.326522,158.547560,58.970933,25.217267,6.25,14.935554
25,2016-03-24,13.570594,8.695312,13.610871,151.781852,58.586790,24.624617,6.37,15.341770
26,2016-03-18,13.679714,9.400875,14.331224,156.345234,59.571773,25.958080,6.85,15.795221
27,2016-03-11,13.679714,9.599625,15.098969,152.714371,58.448893,25.681509,6.70,16.031394
28,2016-03-04,13.431714,9.551489,14.634530,155.591275,59.148230,25.809916,6.58,15.596837
29,2016-02-26,12.550674,9.064665,12.937910,148.408926,56.675924,24.851799,6.30,14.453762
30,2016-02-19,11.987377,8.977037,12.492430,145.109856,56.951718,23.706008,7.04,14.056992
31,2016-02-12,11.809493,8.957563,13.099042,144.339415,56.626676,22.807156,6.96,14.227036
32,2016-02-05,12.797735,9.794901,14.198527,154.552711,56.882770,24.051721,7.00,14.406527
33,2016-01-29,13.973743,10.495927,16.871414,159.580338,58.606490,25.562978,7.37,15.719646
34,2016-01-22,13.400563,10.700393,16.909328,154.937932,56.094784,25.147427,7.55,15.738540
35,2016-01-15,14.289981,10.671184,17.724464,153.703248,56.183433,25.500923,7.53,15.700753
36,2016-01-08,15.021280,11.372211,18.558556,161.931179,58.035198,27.867393,8.16,16.409271
37,2015-12-31,16.632114,12.618481,20.558483,178.021565,64.605033,31.235440,8.87,18.298652
38,2015-12-24,17.066941,12.998204,20.947094,180.234123,65.162732,31.893338,9.11,18.591505
39,2015-12-18,16.562938,12.530852,20.179350,173.339656,63.010212,30.724834,8.68,18.071924
40,2015-12-11,16.533290,12.482170,19.440040,174.396537,62.687332,31.500565,8.63,17.335067
41,2015-12-04,17.590708,13.572655,20.971614,187.661981,66.424894,34.682042,9.23,18.553717
42,2015-11-27,17.225974,13.095568,20.396794,187.494055,65.720431,33.169857,9.19,18.119160
43,2015-11-20,17.393504,13.076095,20.823272,188.478431,66.082449,33.297509,9.34,18.402566
44,2015-11-13,16.950045,13.251352,21.416634,187.415303,64.145175,33.317149,9.31,17.920774
45,2015-11-06,17.689145,13.699230,22.751698,196.058121,66.982593,34.770416,9.64,18.648186

In [4]:
weekly_returns = financial_data.set_index('Date').pct_change(-1) * 100
weekly_returns.index = weekly_returns.index.date
weekly_returns.head()

,BAC,BCS,CS,GS,JPM,MS,RBS,UBS
2016-09-16,-1.588310,-6.229508,-4.661326,-1.524593,-1.245314,0.000000,-10.332103,-6.198910
2016-09-09,-1.625000,-1.718582,3.466466,-0.360554,-1.244623,-0.940731,-0.732601,-0.203943
2016-09-02,1.801550,7.505774,7.449393,2.332688,1.917845,2.342744,5.609284,4.846757
2016-08-26,3.745069,2.606635,3.520536,-0.156407,0.546614,1.996730,5.081301,4.234770
2016-08-19,2.079142,-0.354191,-0.831255,1.825419,0.826701,4.730884,-3.339882,-2.886003

In [5]:
print(weekly_returns.to_latex(float_format="%.2f"))

\begin{tabular}{lrrrrrrrr}
\toprule
 & BAC & BCS & CS & GS & JPM & MS & RBS & UBS \\
\midrule
2016-09-16 & -1.59 & -6.23 & -4.66 & -1.52 & -1.25 & 0.00 & -10.33 & -6.20 \\
2016-09-09 & -1.62 & -1.72 & 3.47 & -0.36 & -1.24 & -0.94 & -0.73 & -0.20 \\
2016-09-02 & 1.80 & 7.51 & 7.45 & 2.33 & 1.92 & 2.34 & 5.61 & 4.85 \\
2016-08-26 & 3.75 & 2.61 & 3.52 & -0.16 & 0.55 & 2.00 & 5.08 & 4.23 \\
2016-08-19 & 2.08 & -0.35 & -0.83 & 1.83 & 0.83 & 4.73 & -3.34 & -2.89 \\
2016-08-12 & -0.93 & 5.36 & 6.37 & 0.72 & -1.48 & 0.55 & 6.93 & 2.97 \\
2016-08-05 & 3.86 & -1.82 & -2.16 & 2.07 & 3.64 & 0.97 & -6.67 & -2.32 \\
2016-07-29 & 0.76 & 2.74 & 0.17 & -1.00 & -0.11 & 0.03 & 2.41 & 3.69 \\
2016-07-22 & 5.27 & 0.25 & 1.85 & -0.76 & -0.22 & 3.25 & 1.22 & 0.91 \\
2016-07-15 & 3.72 & 9.29 & 8.32 & 7.49 & 3.80 & 6.22 & 11.82 & 7.51 \\
2016-07-08 & 0.53 & -3.56 & -3.77 & 1.44 & 0.93 & 1.74 & -4.56 & -6.99 \\
2016-07-01 & 0.77 & -14.62 & -5.56 & 4.50 & 3.59 & 5.71 & -15.10 & -5.59 \\
2016-06-24 & -2.99 & -7.59 & -8.29 & -2.60 & -4.30 & -3.12 & -16.20 & -5.17 \\
2016-06-17 & -3.11 & 0.63 & 0.97 & -2.84 & -2.44 & -0.90 & 6.93 & 2.65 \\
2016-06-10 & -4.09 & -9.04 & -6.89 & -3.71 & -1.24 & -3.77 & -12.93 & -3.18 \\
2016-06-03 & -2.76 & -3.67 & -6.64 & -2.42 & -1.21 & -3.60 & -5.43 & -4.15 \\
2016-05-27 & 2.48 & 7.38 & 4.38 & 3.67 & 3.02 & 2.84 & 9.04 & 4.11 \\
2016-05-20 & 4.61 & 8.20 & 6.61 & -0.53 & 3.77 & 3.40 & 11.39 & 0.75 \\
2016-05-13 & -1.63 & -0.21 & -3.16 & -2.21 & -0.65 & -1.37 & -2.73 & -0.12 \\
2016-05-06 & -3.09 & -6.37 & -7.96 & -3.21 & -2.53 & -2.99 & -7.98 & -9.67 \\
2016-04-29 & -3.64 & 1.41 & -2.62 & -1.58 & -1.20 & -1.78 & -7.26 & 3.97 \\
2016-04-22 & 7.93 & 4.76 & 4.90 & 5.19 & 3.39 & 7.53 & 9.45 & 4.01 \\
2016-04-15 & 8.70 & 11.69 & 9.73 & 5.48 & 7.15 & 8.46 & 11.73 & 5.27 \\
2016-04-08 & -5.01 & -1.85 & -3.49 & -5.97 & -2.84 & -6.97 & -4.48 & -4.05 \\
2016-04-01 & -0.88 & -1.37 & -2.09 & 4.46 & 0.66 & 2.41 & -1.88 & -2.65 \\
2016-03-24 & -0.80 & -7.51 & -5.03 & -2.92 & -1.65 & -5.14 & -7.01 & -2.87 \\
2016-03-18 & 0.00 & -2.07 & -5.08 & 2.38 & 1.92 & 1.08 & 2.24 & -1.47 \\
2016-03-11 & 1.85 & 0.50 & 3.17 & -1.85 & -1.18 & -0.50 & 1.82 & 2.79 \\
2016-03-04 & 7.02 & 5.37 & 13.11 & 4.84 & 4.36 & 3.86 & 4.44 & 7.91 \\
2016-02-26 & 4.70 & 0.98 & 3.57 & 2.27 & -0.48 & 4.83 & -10.51 & 2.82 \\
2016-02-19 & 1.51 & 0.22 & -4.63 & 0.53 & 0.57 & 3.94 & 1.15 & -1.20 \\
2016-02-12 & -7.72 & -8.55 & -7.74 & -6.61 & -0.45 & -5.17 & -0.57 & -1.25 \\
2016-02-05 & -8.42 & -6.68 & -15.84 & -3.15 & -2.94 & -5.91 & -5.02 & -8.35 \\
2016-01-29 & 4.28 & -1.91 & -0.22 & 3.00 & 4.48 & 1.65 & -2.38 & -0.12 \\
2016-01-22 & -6.22 & 0.27 & -4.60 & 0.80 & -0.16 & -1.39 & 0.27 & 0.24 \\
2016-01-15 & -4.87 & -6.16 & -4.49 & -5.08 & -3.19 & -8.49 & -7.72 & -4.32 \\
2016-01-08 & -9.69 & -9.88 & -9.73 & -9.04 & -10.17 & -10.78 & -8.00 & -10.33 \\
2015-12-31 & -2.55 & -2.92 & -1.86 & -1.23 & -0.86 & -2.06 & -2.63 & -1.58 \\
2015-12-24 & 3.04 & 3.73 & 3.80 & 3.98 & 3.42 & 3.80 & 4.95 & 2.88 \\
2015-12-18 & 0.18 & 0.39 & 3.80 & -0.61 & 0.52 & -2.46 & 0.58 & 4.25 \\
2015-12-11 & -6.01 & -8.03 & -7.30 & -7.07 & -5.63 & -9.17 & -6.50 & -6.57 \\
2015-12-04 & 2.12 & 3.64 & 2.82 & 0.09 & 1.07 & 4.56 & 0.44 & 2.40 \\
2015-11-27 & -0.96 & 0.15 & -2.05 & -0.52 & -0.55 & -0.38 & -1.61 & -1.54 \\
2015-11-20 & 2.62 & -1.32 & -2.77 & 0.57 & 3.02 & -0.06 & 0.32 & 2.69 \\
2015-11-13 & -4.18 & -3.27 & -5.87 & -4.41 & -4.24 & -4.18 & -3.42 & -3.90 \\
2015-11-06 & NaN & NaN & NaN & NaN & NaN & NaN & NaN & NaN \\
\bottomrule
\end{tabular}

In [6]:
y = weekly_returns['JPM'].dropna()
X = weekly_returns.drop(columns=['JPM']).loc[y.index]

# Display X and y to confirm their structure
print(X.head().to_latex(float_format="%.2f"))
print(y.head().to_latex(float_format="%.2f"))

\begin{tabular}{lrrrrrrr}
\toprule
 & BAC & BCS & CS & GS & MS & RBS & UBS \\
\midrule
2016-09-16 & -1.59 & -6.23 & -4.66 & -1.52 & 0.00 & -10.33 & -6.20 \\
2016-09-09 & -1.62 & -1.72 & 3.47 & -0.36 & -0.94 & -0.73 & -0.20 \\
2016-09-02 & 1.80 & 7.51 & 7.45 & 2.33 & 2.34 & 5.61 & 4.85 \\
2016-08-26 & 3.75 & 2.61 & 3.52 & -0.16 & 2.00 & 5.08 & 4.23 \\
2016-08-19 & 2.08 & -0.35 & -0.83 & 1.83 & 4.73 & -3.34 & -2.89 \\
\bottomrule
\end{tabular}

\begin{tabular}{lr}
\toprule
 & JPM \\
\midrule
2016-09-16 & -1.25 \\
2016-09-09 & -1.24 \\
2016-09-02 & 1.92 \\
2016-08-26 & 0.55 \\
2016-08-19 & 0.83 \\
\bottomrule
\end{tabular}

In [9]:

# Prepare X and y as numpy arrays for regression calculation
X_np = np.array(X.dropna())
y_np = np.array(y[X.index.intersection(y.index)])

# Add an intercept term with a column of ones to X
X_with_intercept = np.hstack([np.ones((X_np.shape[0], 1)), X_np])

# Calculate the beta coefficients using the Normal Equation
beta = np.linalg.inv(X_with_intercept.T @ X_with_intercept) @ X_with_intercept.T @ y_np

# Display the beta coefficients
beta

array([ 0.19255179,  0.33800218, -0.1119819 , -0.15281322,  0.47236206,
       -0.00330295,  0.11183175,  0.15441892])

In [10]:
sp.Matrix(beta.round(3))

Matrix([
[ 0.193],
[ 0.338],
[-0.112],
[-0.153],
[ 0.472],
[-0.003],
[ 0.112],
[ 0.154]])

In [32]:
# Predicted values of y based on the regression model
y_pred = X_with_intercept @ beta

# Residuals (errors) calculation
epsilon = y_np - y_pred

np.linalg.norm(epsilon)

9.521196237118609

In [35]:
X = weekly_returns.loc[y.index, ["GS","MS","BAC"]]
X_np = np.array(X.dropna())
y_np = np.array(y[X.index.intersection(y.index)])
X_with_intercept = np.hstack([np.ones((X_np.shape[0], 1)), X_np])
# Calculate the beta coefficients using the Normal Equation
beta = np.linalg.inv(X_with_intercept.T @ X_with_intercept) @ X_with_intercept.T @ y_np

# Display the beta coefficients
sp.Matrix(beta.round(3))

Matrix([
[0.209],
[0.479],
[0.015],
[0.258]])

In [31]:
sp.Matrix(X_with_intercept.round(2))

Matrix([
[1.0, -1.52,    0.0, -1.59],
[1.0, -0.36,  -0.94, -1.62],
[1.0,  2.33,   2.34,   1.8],
[1.0, -0.16,    2.0,  3.75],
[1.0,  1.83,   4.73,  2.08],
[1.0,  0.72,   0.55, -0.93],
[1.0,  2.07,   0.97,  3.86],
[1.0,  -1.0,   0.03,  0.76],
[1.0, -0.76,   3.25,  5.27],
[1.0,  7.49,   6.22,  3.72],
[1.0,  1.44,   1.74,  0.53],
[1.0,   4.5,   5.71,  0.77],
[1.0,  -2.6,  -3.12, -2.99],
[1.0, -2.84,   -0.9, -3.11],
[1.0, -3.71,  -3.77, -4.09],
[1.0, -2.42,   -3.6, -2.76],
[1.0,  3.67,   2.84,  2.48],
[1.0, -0.53,    3.4,  4.61],
[1.0, -2.21,  -1.37, -1.63],
[1.0, -3.21,  -2.99, -3.09],
[1.0, -1.58,  -1.78, -3.64],
[1.0,  5.19,   7.53,  7.93],
[1.0,  5.48,   8.46,   8.7],
[1.0, -5.97,  -6.97, -5.01],
[1.0,  4.46,   2.41, -0.88],
[1.0, -2.92,  -5.14,  -0.8],
[1.0,  2.38,   1.08,   0.0],
[1.0, -1.85,   -0.5,  1.85],
[1.0,  4.84,   3.86,  7.02],
[1.0,  2.27,   4.83,   4.7],
[1.0,  0.53,   3.94,  1.51],
[1.0, -6.61,  -5.17, -7.72],
[1.0, -3.15,  -5.91, -8.42],
[1.0,   3.0,   1.65,  4.28],
[1.0,   0.8,  -1.39, -6.22],
[1.0, -5.08,  -8.49, -4.87],
[1.0, -9.04, -10.78, -9.69],
[1.0, -1.23,  -2.06, -2.55],
[1.0,  3.98,    3.8,  3.04],
[1.0, -0.61,  -2.46,  0.18],
[1.0, -7.07,  -9.17, -6.01],
[1.0,  0.09,   4.56,  2.12],
[1.0, -0.52,  -0.38, -0.96],
[1.0,  0.57,  -0.06,  2.62],
[1.0, -4.41,  -4.18, -4.18]])

In [33]:
# Predicted values of y based on the regression model
y_pred = X_with_intercept @ beta

# Residuals (errors) calculation
epsilon = y_np - y_pred

np.linalg.norm(epsilon)

9.521196237118609

In [49]:
raw_financial_data = financial_data
y_raw = raw_financial_data['JPM'].dropna()
X_raw = raw_financial_data.drop(columns=['JPM', 'Date']).loc[y_raw.index]
X_raw_with_intercept = np.hstack([np.ones((X_raw.shape[0], 1)), X_raw.values])
beta_raw = np.linalg.inv(X_raw_with_intercept.T @ X_raw_with_intercept) @ X_raw_with_intercept.T @ y_raw.values

# Display the beta coefficients for the raw data fitting
sp.Matrix(beta_raw.round(3))

Matrix([
[20.168],
[ 1.948],
[ 1.414],
[-1.648],
[ 0.123],
[  0.09],
[-0.057],
[ 0.126]])

In [50]:
y_pred = X_raw_with_intercept @ beta_raw
epsilon = y_raw - y_pred
np.linalg.norm(epsilon)

5.404571574864763

In [64]:
raw_financial_data = pd.read_excel("financials2016-8.xlsx")
y_stock_prices = raw_financial_data['JPM'].dropna()
X_stock_prices = raw_financial_data.drop(columns=['JPM', 'Date'])
X_stock_prices_with_intercept = np.hstack([np.ones((X_stock_prices.shape[0], 1)), X_stock_prices.values])
beta_stock_prices = np.linalg.inv(X_stock_prices_with_intercept.T @ X_stock_prices_with_intercept) @ X_stock_prices_with_intercept.T @ y_stock_prices.values
y_pred_stock_prices = X_stock_prices_with_intercept @ beta_stock_prices
epsilon_stock_prices = y_stock_prices.values - y_pred_stock_prices
error_norm_stock_prices = np.linalg.norm(epsilon_stock_prices)
beta_stock_prices, error_norm_stock_prices

(array([20.16836875,  1.94846019,  1.41359754, -1.64793323,  0.12320394,
         0.0902129 , -0.05672742,  0.12593122]),
 5.404571574864763)